#!/usr/bin/env bash

# .bashrc
alias bash_reload=". ~/.bashrc"
alias bash_vi='vi ~/.bashrc'
alias bash_subl='subl ~/.bashrc'
alias bash_a_vi='vi ~/.aliases'
alias bash_a_subl='subl ~/.aliases'
alias bash_f_vi='vi ~/.functions'
alias bash_f_subl='subl ~/.functions'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
alias h='history'

# Network
alias ip='curl ipinfo.io'
alias wifi-restart="sudo service network-manager restart"

# Audio
alias audio-restart="pulseaudio -k"

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias home="cd ~"
alias desk="cd ~/Desktop"
alias docs="cd ~/Documents"
alias dl="cd ~/Downloads"
alias code="cd ~/code"

# File explorer
alias explorer="nautilus ."

# Git
alias gb='git branch'
alias gf='git fetch'
alias gpo='git push origin'
alias gcm='git commit -am'
alias go='git checkout'
alias gob='git checkout -b'

# VS Code (resolve conflict with `code` alias for ~/code directory)
alias vscode='/snap/bin/code'

# MySQL
alias mysql_check="ps ax | grep mysql"
alias mysql_start="service mysql start"
